{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}-{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
{% endblock %}

{% block meta_description %}{{ page.seo_description }}{% endblock %}

{% block meta_keywords %}{{ page.seo_keywords }}{% endblock %}

{% block content %}
    <section>
        <div class="category-fon">
            <div class="container">
                <div class="category-block">
                    <ul>
                        <li><a href="{{ page.get_absolute_url }}">{{ page.title|title }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="preorder-pages">
                <div class="preorder-pages__fon extensive-company">
                    {% if page.image and page.show_image == "1" %}
                        <img src="{{ page.image.url }}" alt="png">
                        <strong>{{ page.title|title }}</strong>
                    {% endif %}
                </div>
                <div class="preorder-pages__text">
                    {% if page.content %}
                        <p>
                            {{ page.content }}
                        </p>
                    {% endif %}
                </div>
                <div class="solar-syustem">
                    <ul>
                        {% if page.file %}
                            <li>
                                <a href="{{ page.file.url }}">
                                    <div class="solar-syustem__icon {{ page.file_extension }}">
                                    </div>
                                    {{ file_name }}
                                </a>
                            </li>
                        {% endif %}
                        {% if page.file2 %}
                            <li>
                                <a href="{{ page.file2.url }}">
                                    <div class="solar-syustem__icon {{ page.file_extension2 }}">
                                    </div>
                                    {{ file_name2 }}
                                </a>
                            </li>
                        {% endif %}
                        {% if page.file3 %}
                            <li>
                                <a href="{{ page.file3.url }}">
                                    <div class="solar-syustem__icon {{ page.file_extension3 }}">
                                    </div>
                                    {{ file_name3 }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="solar-syustem__block">
                    {% if page.video_url %}
                        <div class="solar-syustem__title">
                            <strong>Video</strong>
                        </div>
                        <div class="solar-syustem__video">
                            <iframe width="100%" height="100%"
                                    src="https://www.youtube.com/embed/{{ page.video_url|cut:"https://www.youtube.com/watch?v=" }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    {% endif %}
                    {% if page_gallery %}
                        <div class="solar-syustem__title">
                            <strong>Gallerey</strong>
                        </div>
                        <div class="solar-gallery d_flex f_wrap">
                            {% for img in page_gallery %}
                                <a href="{{ img.image.url }}" data-fancybox="gallery">
                                    <img src="{{ img.image.url }}" alt="{{ img.alt }}"
                                         title="{{ img.title }}"/>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
