{% extends 'base.html' %}

{% block content %}
    <section>
        {% if home_slides %}
            <div class="environment__slider">
                {% for slide in home_slides %}
                    <div class="environment__slider-box">
                        <div class="environment__fon" style="background-image: url('{{ slide.image.url }}')">
                            <div class="container">
                                <div class="environment__main d_flex a_items_center j_content_end">
                                    <div class="environment__block">
                                        <h1>{{ slide.title }}</h1>
                                        {% if slide.btn_link %}
                                            <div class="environment__href d_flex j_content_end">
                                                <a href="{{ slide.btn_link }}" target="_blank">{{ slide.btn_title }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    <section>
        <div class="container">
            <div class="ecology__info d_flex a_items_end j_content_between">
                <div class="ecology__text">
                    <h2>Ecology Is Your Best Investment</h2>
                    <p>
                        Solarin is a leader in energy-saving industry in the ARMENIA. The company was established in
                        2006
                        and soon
                        gained a reputation of trusted company.Solarin is a leader in energy-saving industry in the
                        ARMENIA.
                        The company was established in 2006 and soon gained a reputation of
                        trusted company.Solarin is a leader in energy-saving industry in the ARMENIA.
                        The company was established in 2006 and soon gained a
                        reputation of trusted company.Solarin is a leader in energy-saving industry in the ARMENIA.
                        The company was established in 2006 and soon gained a reputation of trusted company.Solarin
                        is a leader in energy-saving industry
                    </p>
                </div>
                <div class="ecology__fon">
                    <img src="assets/img/Mask-Group.png" alt="png">
                    <div class="ecology__logo">
                        <img src="assets/img/Group5214.png" alt="png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="energy-long__fon" style="background-image: url('assets/img/featured1.png')">
        <div class="container">
            <div class="energy-long__block">
                <div class="energy-long__item">
                    <h2>ENERGY FOR THE LONG RUN</h2>
                    <div class="energy-long__info d_flex f_wrap">
                        <div class="energy-long__cnt">
                            <a href="javascript:;">
                                <div class="energy-long__icon">
                                    <img src="assets/img/icon05.png" alt="png">
                                </div>
                                <strong>2001</strong>
                                <p>Company Established</p>
                            </a>
                        </div>
                        <div class="energy-long__cnt">
                            <a href="javascript:;">
                                <div class="energy-long__icon">
                                    <img src="assets/img/icon06.png" alt="png">
                                </div>
                                <strong>156</strong>
                                <p>Projects Done</p>
                            </a>
                        </div>
                        <div class="energy-long__cnt">
                            <a href="javascript:;">
                                <div class="energy-long__icon">
                                    <img src="assets/img/icon07.png" alt="png">
                                </div>
                                <strong>700</strong>
                                <p>Happy Clients</p>
                            </a>
                        </div>
                        <div class="energy-long__cnt">
                            <a href="javascript:;">
                                <div class="energy-long__icon">
                                    <img src="assets/img/icon02.png" alt="png">
                                </div>
                                <strong>25+</strong>
                                <p>Business Parthners</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% if home_services %}
            <div class="container">
                <div class="about-services">
                    <div class="about-services__line">
                        <div class="about-services__box">
                            <strong>Services</strong>
                        </div>
                    </div>
                    <div class="about-services__item d_flex f_wrap">
                        {% for service in home_services %}
                            <div class="services__cnt">
                                <a href="{{ service.get_absolute_url }}">
                                    <div class="services__photo">
                                        <img src="{{ service.image.url }}" alt="jpg">
                                        <div class="services__text">
                                            <strong>{{ service.title }}</strong>
                                            <p>{{ service.short_desc }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>


    <section>
        <div class="container">
            <div class="about-services">
                <div class="about-services__line">
                    <div class="about-services__box">
                        <strong>Spare parts for cars</strong>
                    </div>
                </div>
                <div class="spare-parts__slid">
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="searching__fon" style="background-image: url('assets/img/bgn-searching.png')">
                    <div class="searching__main d_flex j_content_end">
                        <div class="searching__block">
                            <h3>Searching for a First-Class Consultant?</h3>
                            <strong>GET SOLUTIONS FAST</strong>
                            <div class="environment__href d_flex j_content_end">
                                <a href="javascript:;">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="about-services__line">
                    <div class="about-services__box">
                        <strong>Spare parts for cars</strong>
                    </div>
                </div>
                <div class="spare-parts__slid">
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% if home_blogs %}
            <div class="container">
                <div class="latest-news">
                    <div class="latest-news__title">
                        <h3>Latest News</h3>
                    </div>
                    <div class="pages-blog d_flex f_wrap">
                        {% for blog in home_blogs %}
                            <div class="pages-blog__block">
                                <a href="{{ blog.get_absolute_url }}" class="latest-news__box"
                                   style="background-image: url('{{ blog.image.url }}')">
                                    <div class="latest-news__info d_flex j_content_end">
                                        <div class="latest-news__data">
                                            <span>{{ blog.date|date:'d' }}</span>
                                            <strong>{{ blog.date|date:'M' }} {{ blog.date|date:'Y' }}</strong>
                                        </div>
                                    </div>
                                    <div class="latest-news__text">
                                        <strong>{{ blog.title }}</strong>
                                        <p>
                                            {{ blog.short_desc }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    <section>
        <div class="fo__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24379.384091880172!2d44.477989449999995!3d40.1996524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1580555306616!5m2!1sru!2s"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section>
{% endblock %}