{% extends 'base.html' %}

{% block content %}
    <section>
        {% if home_slides %}
            <div class="environment__slider">
                {% for slide in home_slides %}
                    <div class="environment__slider-box">
                        <div class="environment__fon" style="background-image: url('{{ slide.image.url }}')">
                            <div class="container">
                                <div class="environment__main d_flex a_items_center j_content_end">
                                    <div class="environment__block">
                                        <h1>{{ slide.title }}</h1>
                                        {% if slide.btn_link %}
                                            <div class="environment__href d_flex j_content_end">
                                                <a href="{{ slide.btn_link }}" target="_blank">{{ slide.btn_title }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    <section>
        <div class="container">
            <div class="ecology__info d_flex a_items_end j_content_between">
                <div class="ecology__text">
                    <h2>{{ home_about.title }}</h2>
                    <p>
                        {% autoescape off %}
                            {{ home_about.desc }}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="ecology__fon">
                    <img src="{{ home_about.image.url }}" alt="png">
                </div>
            </div>
        </div>
    </section>

    <section class="energy-long__fon">
        <div class="container">
            <div class="energy-long__block">
                <div class="energy-long__item">
                    <h2>{{ home_about.baner_title }}</h2>
                    <div class="energy-long__info d_flex f_wrap">
                        <div class="energy-long__cnt">
                            <a>
                                <div class="energy-long__icon">
                                    <img src="{{ home_about.icon1.url }}" alt="png">
                                </div>
                                <strong>{{ home_about.number1 }}</strong>
                                <p>{{ home_about.text1 }}</p>
                            </a>
                        </div>
                        <div class="energy-long__cnt">
                            <a>
                                <div class="energy-long__icon">
                                    <img src="{{ home_about.icon2.url }}" alt="png">
                                </div>
                                <strong>{{ home_about.number2 }}</strong>
                                <p>{{ home_about.text2 }}</p>
                            </a>
                        </div>
                        <div class="energy-long__cnt">
                            <a>
                                <div class="energy-long__icon">
                                    <img src="{{ home_about.icon3.url }}" alt="png">
                                </div>
                                <strong>{{ home_about.number3 }}</strong>
                                <p>{{ home_about.text3 }}</p>
                            </a>
                        </div>
                        <div class="energy-long__cnt">
                            <a>
                                <div class="energy-long__icon">
                                    <img src="{{ home_about.icon4.url }}" alt="png">
                                </div>
                                <strong>{{ home_about.number4 }}</strong>
                                <p>{{ home_about.text4 }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% if home_services %}
            <div class="container">
                <div class="about-services">
                    <div class="about-services__line">
                        <div class="about-services__box">
                            <strong>Services</strong>
                        </div>
                    </div>
                    <div class="about-services__item d_flex f_wrap">
                        {% for service in home_services %}
                            <div class="services__cnt">
                                <a href="{{ service.get_absolute_url }}">
                                    <div class="services__photo">
                                        <img src="{{ service.image.url }}" alt="jpg">
                                        <div class="services__text">
                                            <strong>{{ service.title }}</strong>
                                            <p>{{ service.short_desc }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>


    <section>

        <div class="container">
            <div class="about-services">
                {% if home_products_block1 %}
                <div class="about-services__line">
                    <div class="about-services__box">
                        <strong>Spare parts for cars</strong>
                    </div>
                </div>
                <div class="spare-parts__slid">
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}


                <div class="about-services__line">
                    <div class="about-services__box">
                        <strong>Spare parts for cars2</strong>
                    </div>
                </div>
                <div class="spare-parts__slid">
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spare-parts__box">
                        <div class="spare-parts__cars">
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                            <div class="spare-parts__info">
                                <div class="spare-parts__main d_flex">
                                    <a href="javascript:;" class="spare-parts__cars__img">
                                        <img src="assets/img/printed.png" alt="png">
                                    </a>
                                    <div class="spare-parts__name">
                                        <a href="javascript:;">Product Name</a>
                                        <span># 254565</span>
                                        <p>Solarin is a leader in energy-saving industry in the ARMENIA. The company
                                            was </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% if home_blogs %}
            <div class="container">
                <div class="latest-news">
                    <div class="latest-news__title">
                        <h3>Latest News</h3>
                    </div>
                    <div class="pages-blog d_flex f_wrap">
                        {% for blog in home_blogs %}
                            <div class="pages-blog__block">
                                <a href="{{ blog.get_absolute_url }}" class="latest-news__box"
                                   style="background-image: url('{{ blog.image.url }}')">
                                    <div class="latest-news__info d_flex j_content_end">
                                        <div class="latest-news__data">
                                            <span>{{ blog.date|date:'d' }}</span>
                                            <strong>{{ blog.date|date:'M' }} {{ blog.date|date:'Y' }}</strong>
                                        </div>
                                    </div>
                                    <div class="latest-news__text">
                                        <strong>{{ blog.title }}</strong>
                                        <p>
                                            {{ blog.short_desc }}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    <section>
        <div class="fo__map">
            <iframe src="{{ home_contact.map }}"
                    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section>
{% endblock %}