{% extends 'base.html' %}

{% block title %}
    {{ block.super }}-{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}-
    {% if service_item.seo_title %}{{ service_item.seo_title }}{% else %}{{ service_item.title }}{% endif %}
{% endblock %}


{% block meta_description %}{{ service_item.seo_description }}{% endblock %}

{% block meta_keywords %}{{ service_item.seo_keywords }}{% endblock %}


{% block content %}
    <section>
        <div class="category-fon">
            <div class="container">
                <div class="category-block">
                    <ul>
                        <li><a href="{{ page.get_absolute_url }}">{{ page.title|title }}</a></li>
                        <li><a href={{ service_item.get_absolute_url }}>{{ service_item.title }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="getting-started d_flex  a_items_start">
                <div class="getting-started__block">
                    <h3>{{ service_item.title }}</h3>
                    <div class="getting-started__fon">
                        <img src="{{ service_item.image.url }}" alt="jpg">
                    </div>
                    <div class="getting-started__text">
                        <p>
                            {% autoescape off %}
                                {{ service_item.desc }}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>
                {% if other_services %}
                    <div class="getting-started__item">
                        <h3>Other articles</h3>
                        <div class="getting-started__href">
                            <ul>
                                {% for service in other_services %}
                                    <li><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

